body,
html {
  width: 100%;
  height: 100%;
}

body, button.btn-danger {
  font-family: 'Fredoka One', sans-serif;
}

header.pupper h1 {
	margin-top: 150px;
	margin-bottom: 50px;
	text-shadow: 0px 0px 12px black;
}

body { 
  background: url(fall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
	background-image: url(fall.jpg);
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
}*/

button.btn-danger:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}